@import url('../Font/RubikNorm.ttf');
@import url('../Font/Rubik-Bold.ttf');
@import url('../Font/Leixo.ttf');

@font-face {
  font-family: 'Rubik';
  src: url('../Font/RubikNorm.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../Font/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Leixo';
  src: url('../Font/Leixo.ttf') format('truetype');
}

body {
  font-family: Rubik, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

.BGImage {
  width: 1920px;
  height: 1080px;
  background: url("../images/Background.png");
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: -100000;
}

.FadeIn {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5 ease-in-out;
}

.SmoothWidth {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5 ease-in-out;
}

.F500 {
  font-weight: 500;
}

.F700 {
  font-weight: 700;
}

.White {
  color: white;
}

.Txt13 {
  font-size: 13px;
}

.Txt15 {
  font-size: 15px;
}

.Txt20 {
  font-size: 20px;
}

.W340 {
  width: 340px;
  max-width: 340px;
}

.Fade {
  overflow: hidden;
  white-space: nowrap;
  mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.ScoringShadow {
  text-shadow: 2px 7px 11px rgba(0, 0, 0, 1);
}

/* Background */
.Background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  background: #5d5d5d;
  opacity: 1;
  z-index: -100000;
}

/* PlayerContainers */

.PlayerContainers {
  font-family: Leixo, sans-serif;
  position: absolute;
  top: 0;
  height: 156px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in;
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0), #000000, rgba(255, 255, 255, 0));*/
}

.LogoSpot {
  position: absolute;
  left: 50%; /* Initially center the LogoSpot */
  transform: translateX(-50%); /* Adjust for LogoSpot's own width */
  width: 124px;
}

.LogoImage
{
  top: 5px;
  justify-content: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: auto;
  height: 132px;
}

.Player1Container, .Player2Container {
  position: absolute;
  display: flex;
  align-items: center;
}

.Player1Container {
  right: 53%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imageContainer1{
  position:relative;
  transform:skewY(4.5deg);
  rotate: -4.5deg;
  right:0;
}

.Player1Image {
  width: auto;
  height: 116px;
  /*   box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 50%); */
  /*   background: linear-gradient(180deg, #2f58c0, #4d90d3) border-box; */
  border: 3px solid transparent;
  border-radius: 15px;
  margin-right: 8px;
  margin-top: 3px;
}

.Player1Name {
  position: absolute;
  bottom:-17px;
  text-align: right;
  right:155px;
  color: white;
  text-transform: capitalize;
  font-size: 64px;
  z-index: 5;
}

.Player1Score {
  min-width: 48px;
  background: #2C3050;
  color: white;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bolder;
  text-align: center;
  z-index: 5;
  border-radius: 8px 0 0 8px;
  transition: all 0.5s ease-in-out;
}

.Player1ReplayBase {
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player1ReplayText {
  text-align: center;
  color: white;
  opacity: 1;
  border-bottom-left-radius: 8px;
  background-color: rgb(22, 23, 36);
  font-size: 16px;
  padding: 0px 8px;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.Player1Goal {
  opacity: 0;
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 8px 0 0 0;
  text-wrap: nowrap;
}

.Player2Container {
  left: 53%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.Player2ReplayBase {
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.Player2ReplayText {
  text-align: center;
  color: white;
  opacity: 1;
  border-bottom-right-radius: 8px;
  background-color: rgb(22, 23, 36);
  font-size: 16px;
  padding: 0px 6px 0px 8px;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.Player2Goal {
  opacity: 0;
  padding-left: 13px;
  padding-right: 13px;
  background: #4D5386;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  border-radius: 0 8px 0 0;
  text-wrap: nowrap;
}

.Player2Score {
  min-width: 48px;
  background: #2C3050;
  color: white;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: bolder;
  text-align: center;
  z-index: 5;
  border-radius: 0 8px 8px 0;
  transition: all 0.5s ease-in-out;
}

.Player2Name {
  position: absolute;
  bottom:-22px;
  text-align: right;
  left:149px;
  color: white;
  text-transform: capitalize;
  font-size: 64px;
  z-index: 5;
}

.imageContainer2{
  position:relative;
  transform:skewY(-4.5deg);
  rotate: 4.5deg;
  left:-1px;
}

.Player2Image {
  width: auto;
  height: 116px;
  box-shadow: 0px 1px 6px 1px rgb(0 0 0 / 50%);
  /*   background: linear-gradient(165deg, #dc6153, #fc8e7f) border-box;
    border: 3px solid transparent; */
  border-radius: 15px;
  margin-left: 8px;
  margin-top: 3px;
}

/* Score Bounds | FC, Combo, ACC */

.PlayerBounds {
  width:1920px;
  height:1080px;
  opacity: 0;
  display: flex;
  justify-content: center;
  margin-top: 783px;
  gap: 43px;
}

.Player1Class {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  width: 200px;
}

.Player1FC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 36px;
  font-size: 32px;
  font-weight: 900;
}

.Player1Combo {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 47px;
  font-size: 32px;
  font-weight: 900;
}

.Player1ACC {
  line-height: 0px;
  margin: 0px;
  font-size: 48px;
  font-weight: 900;
}

.Player2Class {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  width: 200px;
}

.Player2FC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 36px;
  font-size: 32px;
  font-weight: 900;
}

.Player2Combo {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 47px;
  font-size: 32px;
  font-weight: 900;
}

.Player2ACC {
  line-height: 0px;
  margin: 0px;
  padding-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

/* Tug Of War */

.TugOfWar {
  display: flex;
  opacity: 0;
  position: absolute;
  bottom: 168px;
}

.LeftTugOuter {
  direction: rtl;
  width: 960px;
  max-width: 960px;
}

.LeftTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(90deg, rgba(255, 97, 97, 1), rgba(223.12, 132.95, 132.95, 1));
}

.RightTugOuter {
  direction: ltr;
  width: 960px;
  max-width: 960px;
}

.RightTugInner {
  width: 0px;
  height: 10px;
  background-image: linear-gradient(-90deg, rgba(204, 127, 252, 1),rgba(112, 112, 255, 1));
}

/* Song Card */
/* TODO: UPDATE THIS TO FIT REQUIREMENTS OF BeatKhana*/

#Song {
  position: absolute;
  height:17%;
  width:100%;
  bottom:0;
  font-family: Rubik-Bold, sans-serif;
}

.SongCard {
  height: 150px;
  width: 700px;
  max-height: 150px;
  max-width: 550px;
  opacity: 1;
  position: absolute;
  bottom: 20px;
  right: 103px;
}

.SongName {
  position: absolute;
  top: 5px;
  left: 23px;
  font-size: 24.5px;
  font-weight: bolder;
}

.SongBox {
  display: flex;
  position: relative;
  gap: 11px;
}

.SongBoxBG {
  position: absolute;
  right: -65px;
  background: url('https://eu.cdn.beatsaver.com/cfcdbd060aabc0673f4950506b5170ce59d963bc.jpg') 50% 50% / cover;
  min-width: 153px;
  min-height: 156px;
  border-radius: 15px;
  opacity: 1;
  transition: all 0.5s ease;
  transform: skewY(-4deg);
  rotate: 4deg;
}

.SongInfoLeft {
  margin-top: 44px;
  margin-left: 25px;
  font-size: 19px;
}

.SongMapper {
  margin-bottom: 3px;
}

.UploadDate {
  position: relative;
  top:-12px;
}

.SongInfoRight {
  position: absolute;
  top: 44px;
  right: 125px;
  text-align: right;
  font-size:19px;
}

.SongArtist {

}

.SongLength {
  color: white;
  font-size: 19px;
  margin-top: -13px;
}

.DiffName {
  position: absolute;
  text-align: center;
  right: -5px;
  bottom: -10px;
  z-index: 100;
}